@import '@/scss/mixins';
@import '@/scss/_functions.scss';

.button {
	border: none;
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	color: rgb(var(--foreground-rgb));
	background-color: transparent;

	&:hover {
		color: rgb(var(--red-rgb));
		background-color: transparent;
	}

	&:focus {
		outline: none;
		background-color: transparent;
	}
}

.buttonActive {
	color: rgb(var(--red-rgb));

	.triangle {
		transform: rotate(180deg);

		path {
			fill: var(--red);
		}
	}
}

.triangle {
	margin-left: 5px;
	transition: all 0.3s ease-in-out;
}

.dropdown {
	position: relative;
	z-index: 50;
}

.container {
	opacity: 0;
	pointer-events: none;
	background-color: rgb(var(--light-gray-rgb));
	position: absolute;
	left: -20px;
	z-index: 150;
	width: max-content;
}

.containerActive {
	opacity: 1;
	pointer-events: all;
}

.list {
	display: flex;
	flex-direction: column;
	margin: 20px 20px 20px 29px;
	border-left: 1px solid rgb(var(--red-rgb));

	& li:not(:last-child) {
		margin-bottom: 15px;
	}
}

.link {
	margin-left: 10px;
	font-size: 14px;
	transition: all 0.3s ease-in-out;

	&:hover {
		color: rgb(var(--red-rgb));
	}
}

.buttonLinkActive {
	&::before {
		content: '';
		position: absolute;
		bottom: -4px;
		left: 0;
		width: 32px;
		height: 2px;
		background-color: rgb(var(--red-rgb));
	}
}

.linkActive {
	color: var(--red-button);
}

@media (max-width: 1920px) {
	.button {
		@include adaptive-font(20, 12);
	}

	.triangle {
		width: calcVW(11);
		margin-left: calcVW(5);
	}

	.container {
		left: calcVW(-20);
	}

	.list {
		margin: calcVH(20) calcVW(20) calcVH(20) calcVW(29);

		& li:not(:last-child) {
			margin-bottom: calcVH(15);
		}
	}

	.link {
		margin-left: calcVW(10);
		@include adaptive-font(14, 10);
	}
}

@media (max-width: 1200px) {
	.triangle {
		width: 7px;
	}
}

@media (max-width: 820px) {
	.container {
		position: relative;
		display: none;
	}
}
