@import '../../../scss/functions.scss';

.section {
	border-bottom: 1px solid rgb(var(--gray-line-rgb));
	color: white;
	position: relative;
	z-index: 1;
	min-width: 320px;
	padding: 20px 0;
	margin: 0 auto;
}

.wrap {
	min-width: 305px;
	border-radius: 20px;
	background: rgb(var(--foreground-rgb))
		url('../../../../public/PageTitle/background-dots.png') center / cover
		no-repeat;
	border: 1px solid rgb(var(--gray-line-rgb));

	min-height: 490px;
	max-height: 490px;
}

.wrapInner {
	padding-left: 4vw;
	padding-top: 60px;
	padding-bottom: 80px;

	min-height: 490px;
	max-height: 490px;
}

.content {
	width: 53%;
	position: relative;
	z-index: 3;
}

.breadcrumbs {
	font-size: 20px;
}

.title {
	font-size: 96px;
	font-weight: 700;
	line-height: 0.9;
	margin: 50px 10px 40px 0;
	& span {
		color: rgb(var(--red-rgb));
	}
}

.text {
	font-size: 32px;
	margin-right: 10px;
}

.triangleImg {
	display: block;

	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: auto;
	object-fit: cover;
	z-index: 0;
	max-width: 100%;
	max-height: 100%;
	min-height: 100%;
}

.triangleImgMob {
	display: none;
}

@media (max-width: 1920px) {
	.title {
		font-size: calcVW(96);
	}
	.text {
		font-size: calcVW(32);
	}

	.wrap {
		min-height: calcVW(490);
		max-height: calcVW(490);
	}

	.wrapInner {
		min-height: calcVW(490);
		max-height: calcVW(490);
	}
}

@media (max-width: 1500px) {
	.title {
		margin: 40px 10px 30px 0;
	}
}

@media (max-width: 1400px) {
	.wrapInner {
		padding-top: 30px;
		padding-bottom: 40px;
	}
	.title {
		margin: 25px 10px 20px 0;
	}
}

@media (max-width: 1024px) {
	.title {
		margin: 15px 10px 10px 0;
	}
}

@media (max-width: 768px) {
	.wrap {
		border-radius: 10px;
	}

	.title {
		margin: 15px 10px 10px 0;
	}

	.wrapInner {
		padding-top: 15px;
		padding-bottom: 20px;
	}
}

@media (max-width: 600px) {
	.triangleImg {
		display: none;
	}

	.content {
		width: 85%;
	}

	.title {
		font-size: 24px;
		margin: 0 0 10px 0;
	}

	.text {
		font-size: 12px;
	}
	.breadcrumbs {
		display: none;
	}
	.wrap {
		padding: 0;
		background: rgb(var(--foreground-rgb))
			url('../../../../public/PageTitle/mobile-background-dots.png') center /
			cover no-repeat;
		border: 1px solid rgb(var(--gray-line-rgb));

		max-height: max-content;
	}
	.wrapInner {
		padding: 40px 5px 80px 15px;
		max-height: fit-content;
	}

	.triangleImgMob {
		display: block;
		position: absolute;
		bottom: 0;
		right: 10px;
	}
}
