@import '@/scss/_functions.scss';

.card {
	position: relative;
	max-height: 600px;
	height: 28vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	color: rgb(var(--foreground-rgb));
}

.content {
	padding: 50px 30px 20px 30px;
}

.name {
	font-size: 32px;
	line-height: 1.2;
	font-weight: 700;
	margin-bottom: 15px;
	line-clamp: 2;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -moz-box;
	-moz-box-orient: vertical;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	box-orient: vertical;
}

.description {
	font-weight: 500;
	width: 80%;
	max-height: 50px;
	line-clamp: 2;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -moz-box;
	-moz-box-orient: vertical;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	box-orient: vertical;
}

.img {
	height: 100%;
	width: 400px;
	aspect-ratio: 4 / 3;
	object-fit: cover;
}

@media (max-width: 1920px) {
	.name {
		font-size: calcVW(36);
	}

	.description {
		font-size: calcVW(20);
	}
}

@media (max-width: 1500px) {
	.img {
		height: 220px;
		aspect-ratio: 3 / 4;
		object-fit: cover;
	}
}

@media (max-width: 1200px) {
	.content {
		padding: 30px 15px 10px 15px;
	}

	.description {
		font-size: 12px;
		width: 100%;
	}
}

@media (max-width: 1100px) {
	.img {
		height: 180px;
	}
}

@media (max-width: 768px) {
	.card {
		height: 100%;
	}

	.name {
		font-size: 18px;
		margin-bottom: 5px;
	}
}

@media (max-width: 430px) {
	.description {
		height: 30px;
	}
}
