.container {
	position: relative;

	&::before {
		content: '';
		position: absolute;
		width: 1px;
		height: 100%;
		right: 0;
		bottom: 0;
		background-color: rgb(var(--gray-line-rgb));
	}
}

@media (max-width: 480px) {
	.container {
		position: relative;
		margin-top: 30px;
		padding-bottom: 30px;

		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 1px;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgb(var(--gray-line-rgb));
		}
	}
}
