@import '@/scss/_functions.scss';

.linkMobile {
	display: none;
}

.section {
	position: relative;
	border-bottom: 1px solid rgb(var(--gray-line-rgb));
	border-top: 1px solid rgb(var(--gray-line-rgb));
	min-width: 320px;
	// max-width: 1920px;
	margin: 0 auto;
	overflow-x: hidden;
}

.sectionInner {
	padding: 20px 0;
	color: white;
}

.verticalLine {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 62%;
	width: 1px;
	background-color: rgb(var(--gray-line-rgb));
	z-index: 1;
}

.wrap {
	border: 1px solid rgb(var(--gray-line-rgb));
	padding: 120px 0 100px 100px;
	border-radius: 20px;
	background-color: rgb(var(--foreground-rgb));
}

.header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5vw;

	position: relative;
	z-index: 2;
}

.title {
	font-size: 96px;
	font-weight: 700;
}

.link {
	overflow: hidden;
	max-width: 400px;
	min-width: 150px;
	width: 100%;
	height: 100px;
	border-radius: 20px;
	background-color: white;
	color: rgb(var(--foreground-rgb));
	margin-right: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.3s ease-in-out;

	&:hover {
		background-color: var(--red-button);
	}
}

.linkText {
	font-size: 24px;
	font-weight: 500;
}

.swiperContainer {
	position: relative;
	z-index: 2;
}

.swiper {
	width: 100%;
	display: flex;
	padding-right: 4vw !important;
}

.swiperBottom {
	margin-top: 20px;
	width: 100%;
	display: flex;
	position: relative;
	z-index: 2;
}

.swiperWrapper {
	display: flex;
}

.swiperSlideOne {
	max-height: 300px;
	min-height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;

	overflow: hidden;
}

.swiperSlideOne img {
	display: block;
	border-radius: 20px;
	width: 100%;
	height: 300px;
	object-fit: cover;
}

.imgWrap {
	position: relative;
	height: 100%;
}

.titleCard {
	font-weight: 700;
	font-size: 32px;
	margin-bottom: 10px;
}

.prevBtn,
.nextBtn {
	position: absolute;
	height: 100px;
	width: 100px;
	border-radius: 20px;
	top: 50%;

	transform: translate(0, -50%);
	transition: all 0.3s ease-in-out;
	background-color: var(--red-button);
	cursor: pointer;
	z-index: 2;

	&:hover {
		background-color: var(--red-dark);
	}

	&:disabled {
		cursor: auto;
		background-color: transparent;
		border: 1px solid white;

		& svg path {
			fill: white;
		}
	}
}

.prevBtn {
	left: -50px;
	transform: translate(0, -50%) rotate(180deg);
}

.nextBtn {
	right: 50px;
}

@media (max-width: 1920px) {
	.wrap {
		padding: 6vw 0 4vw 4vw;
	}
	.title {
		font-size: calcVW(96);
	}
	.titleCard {
		font-size: calcVW(36);
	}
	.swiperSlideOne img {
		height: calcVW(300);
	}
	.link {
		width: calcVW(400);
		margin-right: calcVW(80);
	}
}

@media (max-width: 1400px) {
	.prevBtn,
	.nextBtn {
		width: 80px;
		height: 80px;
	}

	.prevBtn {
		left: -40px;
	}

	.nextBtn {
		right: 40px;
	}

	.description {
		font-size: 15px;
	}
	.swiperSlideOne img {
		height: 250px;
	}

	.linkText {
		font-size: 20px;
	}
}

@media (max-width: 1024px) {
	.prevBtn,
	.nextBtn {
		width: 60px;
		height: 60px;
	}

	.prevBtn {
		left: -30px;
	}

	.nextBtn {
		right: 30px;
	}

	.link {
		height: 60px;
		border-radius: 10px;
	}
	.swiperSlideOne img {
		height: 180px;
	}
}

@media (max-width: 768px) {
	.title {
		font-size: 36px;
	}

	.titleCard {
		font-size: 20px;
	}

	.description {
		font-size: 12px;
	}

	.prevBtn,
	.nextBtn {
		display: none;
	}
}

@media (max-width: 576px) {
	.verticalLine {
		display: none;
	}

	.swiperSlideOne img {
		border-radius: 10px;
	}
	.link {
		display: none;
	}

	.linkMobile {
		height: 60px;
		width: calc(100% - 20px);
		border-radius: 10px;
		background-color: white;
		color: rgb(var(--foreground-rgb));
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 30px;
	}
}
