@import '../../../scss/functions.scss';

.section {
	padding: 20px 0;
}

.wrap {
	background-color: #e4e5e7;
	border-radius: 20px;
	border: 1px solid #bcbcbc;
	min-width: 300px;
}
.innerWrap {
	margin: 120px 100px 120px 100px;
}
.header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 9vh;
}
.title {
	font-size: 96px;
	font-weight: 700;
	line-height: 1;
	& span {
		color: #e41f26;
	}
}

.downloadWrap {
	display: flex;
	align-items: center;
	margin-right: 4vw;
}
.downloadContainer {
	background-color: transparent;
	display: flex;
	align-items: center;
}
.textDownload {
	margin-left: 30px;
	font-weight: 700;
	transition: 0.3s all ease-in-out;
	& div {
		font-size: 32px;
	}
}

.downloadContainer svg circle {
	transition: 0.3s all ease-in-out;
}
.downloadContainer:hover {
	color: #e41f26;
	& svg circle {
		fill: #e41f26;
	}
}

.subTitle {
	font-size: 20px;
	color: #e41f26;
	margin-bottom: 5px;
}
.text {
	font-weight: 500;
}

.content {
	display: grid;
	grid-template-columns: 416px 207px 153px 311px;
	grid-template-rows: repeat(5, 1fr);
	gap: 30px 10px;
	justify-content: space-between;

	border-top: 2px solid #bcbcbc;
	padding-top: 5vh;
}

.infoBlock:nth-child(1) {
	grid-column: 1;
	grid-row: 1;
}

.infoBlock:nth-child(2) {
	grid-column: 1;
	grid-row: 2;
}

.infoBlock:nth-child(3) {
	grid-column: 1;
	grid-row: 3;
}

.infoBlock:nth-child(4) {
	grid-column: 1;
	grid-row: 4;
}

.infoBlock:nth-child(5) {
	grid-column: 1;
	grid-row: 5;
}

.infoBlock:nth-child(6) {
	grid-column: 2;
	grid-row: 1;
}

.infoBlock:nth-child(7) {
	grid-column: 2;
	grid-row: 2;
}

.infoBlock:nth-child(8) {
	grid-column: 2;
	grid-row: 3;
}

.infoBlock:nth-child(9) {
	grid-column: 2;
	grid-row: 4;
}

.infoBlock:nth-child(10) {
	grid-column: 3;
	grid-row: 1;
}

.infoBlock:nth-child(11) {
	grid-column: 3;
	grid-row: 2;
}

.infoBlock:nth-child(12) {
	grid-column: 3;
	grid-row: 3;
}

.infoBlock:nth-child(13) {
	grid-column: 3;
	grid-row: 4;
}

.infoBlock:nth-child(14) {
	grid-column: 3;
	grid-row: 5;
}

.infoBlock:nth-child(15) {
	grid-column: 4;
	grid-row: 1;
}

.infoBlock:nth-child(16) {
	grid-column: 4;
	grid-row: 2;
}

.infoBlock:nth-child(17) {
	grid-column: 4;
	grid-row: 3;
}

.infoBlock:nth-child(18) {
	grid-column: 4;
	grid-row: 4;
}

@media (max-width: 1920px) {
	.title {
		font-size: calcVW(96);
	}
	.textDownload {
		font-size: calcVW(20);
		& div {
			font-size: calcVW(32);
		}
	}

	.innerWrap {
		margin: 8vh 4vw 6vh 4vw;
	}
}

@media (max-width: 1200px) {
	.innerWrap {
		margin: 6vh 2vw 6vh 2vw;
	}
	.textDownload {
		font-size: 15px;
		& div {
			font-size: 20px;
		}
	}
	.downloadContainer svg {
		width: 60px;
		height: auto;
	}
	.content {
		grid-template-columns: 410px 305px;
		grid-template-rows: repeat(10, 1fr);
		gap: 15px 10px;
	}

	/* Rearrange grid items for 2-column layout */
	.infoBlock:nth-child(1) {
		grid-column: 1;
		grid-row: 1;
	}

	.infoBlock:nth-child(2) {
		grid-column: 1;
		grid-row: 2;
	}

	.infoBlock:nth-child(3) {
		grid-column: 1;
		grid-row: 3;
	}

	.infoBlock:nth-child(4) {
		grid-column: 1;
		grid-row: 4;
	}

	.infoBlock:nth-child(5) {
		grid-column: 1;
		grid-row: 5;
	}

	.infoBlock:nth-child(6) {
		grid-column: 2;
		grid-row: 1;
	}

	.infoBlock:nth-child(7) {
		grid-column: 2;
		grid-row: 2;
	}

	.infoBlock:nth-child(8) {
		grid-column: 2;
		grid-row: 3;
	}

	.infoBlock:nth-child(9) {
		grid-column: 2;
		grid-row: 4;
	}

	.infoBlock:nth-child(10) {
		grid-column: 1;
		grid-row: 6;
	}

	.infoBlock:nth-child(11) {
		grid-column: 1;
		grid-row: 7;
	}

	.infoBlock:nth-child(12) {
		grid-column: 1;
		grid-row: 8;
	}

	.infoBlock:nth-child(13) {
		grid-column: 1;
		grid-row: 9;
	}

	.infoBlock:nth-child(14) {
		grid-column: 1;
		grid-row: 10;
	}
	.infoBlock:nth-child(15) {
		grid-column: 2;
		grid-row: 5;
	}

	.infoBlock:nth-child(16) {
		grid-column: 2;
		grid-row: 6;
	}

	.infoBlock:nth-child(17) {
		grid-column: 2;
		grid-row: 7;
	}

	.infoBlock:nth-child(18) {
		grid-column: 2;
		grid-row: 8;
	}
}

@media (max-width: 768px) {
	.wrap {
		border-radius: 10px;
	}

	.innerWrap {
		margin: 30px 0 10px 0;
	}

	.header {
		display: flex;
		flex-direction: column;
		margin-bottom: 30px;
		padding-left: 15px;
	}
	.downloadWrap {
		margin-top: 30px;
	}
	.title {
		font-size: 36px;
	}
	.textDownload {
		margin-left: 15px;
		font-size: 12px;
		& div {
			font-size: 16px;
		}
	}
	.subTitle {
		font-size: 12px;
		font-weight: 500;
	}
	.text {
		font-size: 16px;
	}

	.content {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(16, 1fr);
		grid-auto-flow: row dense;
		grid-auto-flow: row wrap;
		gap: 40px 10px;

		padding-top: 30px;
	}
	.infoBlock {
		position: relative;
		padding: 0 5px 0 15px;
		&:not(:last-child)::after {
			content: '';
			width: 100%;
			height: 1px;
			background-color: #bcbcbc;
			position: absolute;
			left: 0;
			bottom: -20px;
			z-index: 1;
		}
	}

	.infoBlock:nth-child(1) {
		grid-column: 1 / -1;
		grid-row: 1;
	}
	.infoBlock:nth-child(2) {
		grid-column: 1 / -1;
		grid-row: 2;
	}
	.infoBlock:nth-child(3) {
		grid-column: 1 / -1;
		grid-row: 3;
	}
	.infoBlock:nth-child(4) {
		grid-column: 1 / -1;
		grid-row: 4;
	}
	.infoBlock:nth-child(5) {
		grid-column: 1 / -1;
		grid-row: 5;
	}
	.infoBlock:nth-child(6) {
		grid-column: 1 / -1;
		grid-row: 6;
	}
	.infoBlock:nth-child(7) {
		grid-column: 1 / -1;
		grid-row: 7;
	}
	.infoBlock:nth-child(8) {
		grid-column: 1 / -1;
		grid-row: 8;
	}
	.infoBlock:nth-child(9) {
		grid-column: 1 / -1;
		grid-row: 9;
	}
	.infoBlock:nth-child(10) {
		grid-column: 1;
		grid-row: 10;
	}
	.infoBlock:nth-child(11) {
		grid-column: 2;
		grid-row: 10;
	}
	.infoBlock:nth-child(12) {
		grid-column: 1;
		grid-row: 11;
	}
	.infoBlock:nth-child(13) {
		grid-column: 2;
		grid-row: 11;
	}
	.infoBlock:nth-child(14) {
		grid-column: 1 / -1;
		grid-row: 12;
	}
	.infoBlock:nth-child(15) {
		grid-column: 1 / -1;
		grid-row: 13;
	}
	.infoBlock:nth-child(16) {
		grid-column: 1 / -1;
		grid-row: 14;
	}
	.infoBlock:nth-child(17) {
		grid-column: 1 / -1;
		grid-row: 15;
	}
	.infoBlock:nth-child(18) {
		grid-column: 1 / -1;
		grid-row: 16;
	}
}
