@import '@/scss/_functions.scss';

.section {
	padding: 10px 0 10px 0;
	min-width: 320px;
}

.wrap {
	border-radius: 20px;
	border: 1px solid rgb(var(--gray-line-rgb));
	padding: 4vw;
}

.title {
	font-size: 96px;
	font-weight: 700;
	line-height: 1;
	margin-bottom: 2vh;
	& span {
		color: var(--red-button);
	}
}

.content {
	gap: 20px;
	display: flex;
	flex-direction: column;
}

.item {
	display: flex;
	position: relative;
	align-items: center;
	height: 90px;
	padding: 10px 20px 10px 40px;
	width: 100%;

	border-radius: 20px;
	background-color: rgb(var(--gray-background-img-rgb));
	&:nth-child(even) {
		background-color: #f4f4f4;
	}
}

.nameItem {
	font-weight: 700;
	font-size: 20px;
	width: 45%;
}

.description {
	font-weight: 500;
	font-size: 20px;
	width: 40%;
	padding: 0 10px;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.linkWrap {
	width: 15%;
	display: flex;
	justify-content: flex-end;
}

.link {
	height: 50px;
	max-width: 200px;
	width: 100%;
	font-weight: 500;
	border-radius: 15px;
	background-color: #c5c5c5;
	margin-right: 10px;

	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width: 1920px) {
	.title {
		font-size: calcVW(96);
	}

	.description {
		font-size: calcVW(24);
	}
}

@media (max-width: 1300px) {
	.wrap {
		padding: 40px 4vw 30px 4vw;
	}

	.title {
		margin-bottom: 30px;
	}

	.nameItem {
		font-size: 18px;
	}

	.item {
		padding: 5px 10px 5px 15px;
	}

	.linkWrap {
		width: 20%;
	}

	.link {
		font-size: 15px;
	}

	.nameItem {
		width: 30%;
	}

	.description {
		width: 50%;
	}
}

@media (max-width: 968px) {
	.description {
		font-size: 12px;
	}
}

@media (max-width: 768px) {
	.wrap {
		border-radius: 10px;
		padding: 10px;
	}

	.title {
		font-size: 24px;
		line-height: 0.9;
		margin-bottom: 10px;
	}

	.linkWrap {
		width: 100%;
		justify-content: center;
		margin: 20px 0 15px 0;
	}

	.link {
		max-width: 100%;
		border-radius: 10px;
	}

	.item {
		border-radius: 0;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		max-height: 180px;
		border-radius: 5px;
	}

	.nameItem {
		width: 100%;
		margin: 25px 0 10px 0;
	}

	.description {
		width: 100%;
		padding: 0;
	}
}
