@import '@/scss/_functions.scss';

.linkMobile {
	display: none;
}

.section {
	position: relative;
	min-width: 320px;
	// max-width: 1920px;
	margin: 0 auto;
	overflow-x: hidden;
}

.sectionInner {
	padding: 20px 0;
	color: white;
}

.verticalLine {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 62%;
	width: 1px;
	background-color: rgb(var(--gray-line-rgb));
	z-index: 1;
}

.wrap {
	padding-left: calc(3vw + 20px);
}

.titleWrap {
	display: flex;
	justify-content: space-between;

	position: relative;
	z-index: 2;
}

.title {
	font-size: 96px;
	font-weight: 700;
	color: rgb(var(--foreground-rgb));
	line-height: 1;

	margin-bottom: 40px;
	& span {
		color: var(--red-button);
	}
}

.link {
	overflow: hidden;
	max-width: 400px;
	min-width: 150px;
	width: 100%;
	height: 100px;
	border-radius: 20px;
	background-color: rgb(var(--foreground-rgb));
	color: white;

	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.3s ease-in-out;

	&:hover {
		background-color: var(--red-button);
	}
}

.linkText {
	font-size: 24px;
	font-weight: 500;
}

.swiperContainer {
	position: relative;
	z-index: 2;
	margin-top: 50px;
}

.swiperSlide {
	width: 100%;
	display: flex;
	background-color: rgb(var(--gray-background-img-rgb));
}

.swiper {
	display: flex;
	height: 28vw;
	min-height: 284px;
	max-height: 600px;
}

.swiperWrapper {
	display: flex;
	position: relative;
}

.swiperSlide {
	height: 100%;
	max-height: 600px;
	min-height: 284px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 20px;
	overflow: hidden;
}

.swiperSlide img {
	display: block;
	width: 100%;
	max-height: 600px;
	object-fit: cover;
}

.imgWrap {
	background-color: rgb(var(--gray-background-img-rgb));
	height: 100%;
	height: 32vw;
	width: auto;
	position: relative;
	overflow: hidden;

	border-radius: 20px;
}

.prevBtn,
.nextBtn {
	position: absolute;
	height: 100px;
	width: 100px;
	border-radius: 20px;
	top: 50%;
	z-index: 2;

	transform: translate(0, -50%);
	transition: all 0.3s ease-in-out;
	background-color: var(--red-button);
	cursor: pointer;

	&:hover {
		background-color: var(--red-dark);
	}

	&:disabled {
		cursor: auto;
		background-color: transparent;
		border: 1px solid rgb(var(--foreground-rgb));

		& svg path {
			fill: rgb(var(--foreground-rgb));
		}
	}
}

.prevBtn {
	left: -50px;
	transform: translate(0, -50%) rotate(180deg);
}

.nextBtn {
	right: calc(3vw - 25px);
}

.deskHidden {
	padding: 0;
}

@media (max-width: 1920px) {
	.title {
		font-size: calcVW(96);
	}
	.swiper {
		padding-right: 40px !important;
	}
	.wrap {
		padding-left: calc(4vw + 20px);
	}
	.nextBtn {
		right: calc(4vw - 25px);
	}
	.link {
		width: calcVW(400);
	}
}

@media (max-width: 1400px) {
	.prevBtn,
	.nextBtn {
		width: 80px;
		height: 80px;
	}

	.prevBtn {
		left: -40px;
	}

	.nextBtn {
		right: calc(4vw - 20px);
	}

	.description {
		font-size: 15px;
	}

	.linkText {
		font-size: 20px;
	}
}

@media (max-width: 1024px) {
	.prevBtn,
	.nextBtn {
		width: 60px;
		height: 60px;
	}

	.prevBtn {
		left: -30px;
	}

	.nextBtn {
		right: calc(4vw - 15px);
	}

	.link {
		height: 60px;
		border-radius: 10px;
	}

	.linkText {
		font-size: 16px;
	}
}

@media (max-width: 768px) {
	.title {
		font-size: 36px;
	}

	.prevBtn,
	.nextBtn {
		display: none;
	}

	.swiperSlide {
		border-radius: 10px;
	}
}

@media (max-width: 576px) {
	.verticalLine {
		display: none;
	}

	.link {
		display: none;
	}

	.wrap {
		padding: 10px 0;
	}

	.linkMobile {
		margin-top: 30px;

		overflow: hidden;

		min-width: 300px;
		width: 100%;
		height: 60px;
		border-radius: 10px;
		background-color: rgb(var(--foreground-rgb));
		color: white;

		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.3s ease-in-out;

		&:hover {
			background-color: var(--red-button);
		}
	}

	.linkTextMobile {
		font-size: 16px;
		font-weight: 500;
	}

	.swiperContainer {
		margin-top: 0;
	}
}
