.filterContainer {
	display: flex;
	flex-direction: column;
	position: relative;
}

.mobileHidden {
	display: block;
}
.mobileVisible {
	display: none;
}

@media (max-width: 800px) {
	.filterContainer {
		width: 100%;
	}
	.mobileHidden {
		display: none;
	}
	.mobileVisible {
		display: block;
	}
}
@media (max-width: 480px) {
}
