@import '../../../scss/_functions';

.section {
	width: 820px;
	position: relative;
	padding: 0 50px;
}

.wrapper {
	overflow: hidden;
	// border-left: 1px solid rgb(var(--gray-line-rgb));
	// border-right: 1px solid rgb(var(--gray-line-rgb));
}

.swiperContainer {
	position: relative;
	z-index: 2;
}

.swiperSlide {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.swiper {
	display: flex;
}

.swiperWrapper {
	display: flex;
	position: relative;
}

.swiperSlide img {
	width: 99%;
	margin: 0 auto;
	max-height: 600px;

	display: block;
	object-fit: cover;
}

.imgWrap {
	width: auto;
	position: relative;
}

.prevBtn,
.nextBtn {
	width: 100px;
	height: 100px;
	border-radius: 20px;
	position: absolute;
	top: 50%;
	z-index: 3;

	transform: translate(0, -50%);
	transition: all 0.3s ease-in-out;
	background-color: var(--red-button);
	cursor: pointer;

	&:hover {
		background-color: var(--red-dark);
	}

	&:disabled {
		cursor: auto;
		background-color: var(--white);
		border: 1px solid rgb(var(--foreground-rgb));

		& svg {
			& path {
				fill: rgb(var(--foreground-rgb));
			}
		}
	}
}

.prevBtn {
	left: 0;
	transform: translate(0, -50%) rotate(180deg);
}

.nextBtn {
	right: 0;
}

@media (max-width: 1920px) {
	.section {
		width: 43vw;
	}
}

@media (max-width: 1440px) {
	.swiperSlide img {
		max-height: 500px;
	}

	.prevBtn,
	.nextBtn {
		width: 80px;
		height: 80px;
	}

	.prevBtn {
		left: 10px;
	}

	.nextBtn {
		right: 10px;
	}
}

@media (max-width: 1024px) {
	.section {
		width: 100vw;
		padding: 0;
		border-top: 1px solid rgb(var(--gray-line-rgb));
	}

	.prevBtn,
	.nextBtn {
		display: none;
	}

	.swiperSlide img {
		max-height: 400px;
	}

	.swiperSlide {
		border-left: 1px solid rgb(var(--gray-line-rgb));

		&:last-child {
			border-right: 1px solid rgb(var(--gray-line-rgb));
		}
	}
}

@media (max-width: 820px) {
	.swiperSlide {
		max-height: 300px;
	}
}

@media (max-width: 430px) {
	.swiperSlide img {
		max-height: 200px;
	}
}

@media (max-width: 375px) {
	.swiperSlide img {
		max-height: 140px;
	}
}
