@import '../../scss/_mixins.scss';
@import '../../scss/_functions.scss';

.section {
	// max-width: 1920px;
	margin: 0 auto;
	padding: 120px 80px 100px;
	border-bottom: 1px solid var(--gray-rgb);
	position: relative;
	border-bottom: 1px solid rgb(var(--gray-line-rgb));
}

.line {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 62%;
	width: 1px;
	background-color: rgb(var(--gray-line-rgb));
	z-index: -1;
}

.title {
	margin-bottom: 100px;
}

.titleMobile {
	display: none;
}

.innerContainer {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;

	& li:nth-child(5) .service {
		padding-right: 0;
	}
}

.service {
	height: 250px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 7px 20px 0 60px;
	background-color: rgba(240, 240, 240, 1);
	border-radius: 20px;
	transition: background-color 0.3s ease-in-out;
	cursor: pointer;

	// &:nth-child(1) {
	// 	padding-right: 0;
	// }

	&:hover {
		background-color: var(--red-button);

		.serviceTitle {
			color: var(--white);
		}

		svg {
			path {
				fill: var(--white);
				transition: fill 0.3s ease-in-out;
			}
		}
	}
}

.serviceTitle {
	font-size: 40px;
	line-height: 120%;
	font-weight: 500;
	color: var(--foreground-rgb);
	max-width: 280px;
	transition: all 0.3s ease-in-out;
}

.serviceImage {
	box-sizing: border-box;
	height: 100%;

	svg {
		height: inherit;
		width: 100%;
	}
}

@media (max-width: 1920px) {
	.section {
		padding: calcVH(120) calcVW(80) calcVH(100);
	}

	.innerContainer {
		gap: calcVW(20);
	}

	.title {
		margin-bottom: calcVH(100);
		// padding-left: calcVW(60);
	}

	.service {
		height: calcVH(250);
		padding: calcVH(7) calcVW(20) 0 calcVW(60);
	}

	.serviceTitle {
		@include adaptive-font(40, 16);
		max-width: calcVW(280);
	}
}

@media (max-width: 1280px) {
	.section {
		padding: calcVH(60) calcVW(30) calcVH(50);
	}
}

@media (max-width: 1024px) {
	.innerContainer {
		gap: 15;
	}
}

@media (max-width: 1024px) and (min-height: 1024px) {
	.service {
		height: calcVH(140);
	}

	.title {
		margin-bottom: calcVH(50);
	}
}

@media (max-width: 768px) {
	.section {
		padding: 30px 0 20px;
		border-bottom: 1px solid var(--gray-rgb);
	}

	.service {
		padding-left: 15px;
		height: 120px;
		width: 100%;
	}

	.serviceTitle {
		font-size: 16px;
		max-width: 120px;
	}
}

@media (max-width: 576px) {
	.line {
		display: none;
	}
}

@media (max-width: 480px) {
	.innerContainer {
		grid-template-columns: repeat(1, 1fr);
	}

	.service {
		// padding-left: 15px;
		// height: 88px;
		height: 110px;
		// width: 100%;
		// max-width: 100%;
		// min-width: 100%;
	}

	.title {
		display: none;
	}

	.titleMobile {
		display: block;
		padding: 0;
		margin-bottom: 30px;
	}
}

@media (max-width: 375px) {
	.service {
		height: 88px;
	}
}
