@import '@/scss/functions.scss';

.section {
	border-bottom: 1px solid rgb(var(--gray-line-rgb));
	color: white;
	position: relative;
	z-index: 1;
	min-width: 320px;
	padding: 20px 0;

	max-width: none;
	margin: 0 auto;
}

.wrap {
	min-width: 305px;
	width: 100%;
	border-radius: 20px;
	background: rgb(var(--foreground-rgb));
	border: 1px solid rgb(var(--gray-line-rgb));
}

.wrapInner {
	padding-left: 4vw;
	padding-top: 60px;
	padding-bottom: 80px;
}

.content {
	width: 85%;
	position: relative;
	z-index: 3;
}

.breadcrumbs {
	font-size: 20px;
}

.title {
	font-size: 96px;
	font-weight: 700;
	line-height: 0.9;
	margin: 50px 10px 40px 0;
	& span {
		color: rgb(var(--red-rgb));
	}
}

.text {
	font-size: 32px;
	margin-right: 10px;
}

@media (max-width: 1920px) {
	.title {
		font-size: calcVW(96);
	}
	.text {
		font-size: calcVW(32);
	}
}

@media (max-width: 1400px) {
	.wrapInner {
		padding-top: 30px;
		padding-bottom: 40px;
	}
	.title {
		margin: 25px 10px 20px 0;
	}
}

@media (max-width: 768px) {
	.title {
		margin: 15px 10px 10px 0;
	}

	.wrapInner {
		padding-top: 15px;
		padding-bottom: 20px;
	}
}

@media (max-width: 715px) {
	.content {
		width: auto;
	}
}

@media (max-width: 600px) {
	.content {
		width: auto;
	}

	.title {
		font-size: 36px;
		margin: 0 0 10px 0;
	}

	.text {
		font-size: 20px;
	}
	.breadcrumbs {
		display: none;
	}
	.wrap {
		padding: 0;
	}
	.wrapInner {
		padding: 40px 5px 80px 15px;
	}
}
